
@{
    ViewBag.Title = "Bienvenido";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/StyleView1.css" />

</head>
<body>
    <div class="container">
        <div class="left">
            
        </div>
        <div class="right">
            <div>
                <h3>SOBRE NOSOTROS</h3>
                <h1>Bienvenido a CloudPyme</h1>
                <p>Este sitio le permitirá tener una guía para mejorar la administración de su negocio</p>
                <a href="@Url.Action("InicioDeSesion","Home")" id="comencemos">Comencemos</a>
            </div>
        </div>
    </div>

</body>
</html>

