
@{
    ViewBag.Title = "Bienvenido";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>

    <title>Bienvenido</title>
    <link rel="stylesheet" href="~/Content/StyleView1.css" />

</head>
<body>
    <div class="container">
        <div class="left">
            <img src="http://drive.google.com/uc?export=view&id=12WOO71z5CBtqz7NXOS5IQI09bq1Mqf4d" style="width:475px; height:300px; margin-top:125px; margin-left:20px" />
        </div>
        <div class="right">
            <div>
                <h3>SOBRE NOSOTROS</h3>
                <h1>Bienvenido a CloudPyme</h1>
                <p>Este sitio le permitirá tener una guía para mejorar la administración de su negocio</p>
                <a href="@Url.Action("InicioDeSesion","Home")" id="comencemos">Comencemos</a>
            </div>
        </div>
    </div>

</body>
</html>

