@model ProyectoCloudPyme.Models.Usuario
@{
    ViewBag.Title = "EditarUsuario";
    Layout = "~/Views/Shared/_LayoutCloudPymeSesion.cshtml";

}
<html>
<head>
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="~/Content/StyleViewRegistro.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    </style>

</head>
<body style="margin-top:50px;">
    <div class="container" id="formulario">
        @using (Html.BeginForm("CapturarDatosEdicion", "Home", FormMethod.Post))
        {
            <h1>| Editar Información Usuario</h1>
            <table style="border-collapse: separate; border-spacing: 20px;">
                <tr>
                    <td><i class="fa-solid fa-person-walking" style="color: #0F5F54;"></i></td>
                    <td><input placeholder="Nombre" type="text" name="nombre" pattern="[a-zA-Z.,:;()¿?¡!ñ ]+" autocomplete="off" value="@Model.Nombre" required /></td>

                </tr>
                <tr>
                    <td style="color: #0F5F54; font-size:25px">&rArr;</td>
                    <td><input placeholder="Primer apellido" type="text" name="apellido_1" pattern="[a-zA-Z.,:;()¿?¡!ñ ]+" autocomplete="off" value="@Model.Apellido_1" /></td>
                </tr>
                <tr>
                    <td style="color: #0F5F54; font-size: 25px">&rArr;</td>
                    <td><input placeholder="Segundo apellido" type="text" name="apellido_2" pattern="[a-zA-Z.,:;()¿?¡!ñ ]+" autocomplete="off" value="@Model.Apellido_2"required /></td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-cake-candles" style="color: #0F5F54;"></i></td>
                    <td><input placeholder="" type="date" name="fh_nacimiento" value="@Model.Fhnacimiento" /></td>
                </tr>

            </table>
            <div style="text-align: center;">
                <input type="submit" value="Cambiar">
            </div>
        }
    </div>



</body>
</html>

