
@{
    ViewBag.Title = "ElegirPyme";
    Layout = "~/Views/Shared/_LayoutCloudPymeSesion.cshtml";
}

<html>
<head>
    <title>Aquí te diremos los pasos para crear tu Pyme</title>
    <link rel="stylesheet" href="~/Content/StyleViewElegirPyme.css" />
    <style>

        .mia:hover {
            color: #F6F0E9;
            text-decoration: none;
            background-color: #3d8ac9;
        }

        #pymes {
            margin-top: 150px;
            display: flex;
            flex-direction:column;
            justify-content:center;
            flex-wrap:wrap;
            align-items:center;
            align-content:center;
            
        }
        .pyme-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

            .pyme-item a {
                margin-right: 10px;
            }
        .extra {
            font-size: 18px;
            color: #0F5F54;
            margin-right:5px;
        }
    </style>
    
</head>

<body>

    <h4 style="color:black">Primero debes escoger el tipo de Pyme</h4>

    <div class="Pymes" id="pymes">
        <div class="pyme-item">
            <span class="extra">&raquo;</span><a class="mia" href="@Url.Action("GuiaPymeAlimentos","Home")">Alimentos</a><span class="extra">&laquo;</span>
        </div>
        <div class="pyme-item">
            <span class="extra">&raquo;</span><a class="mia" href="@Url.Action("GuiaPymeTransporte","Home")">Transporte</a><span class="extra">&laquo;</span>
        </div>
        <div class="pyme-item">
            <span class="extra">&raquo;</span><a class="mia" href="@Url.Action("GuiaPymeComercio","Home")">Comercio</a><span class="extra">&laquo;</span>
        </div>
    </div>


</body>
</html>
