@{
    ViewBag.Title = "Transporte";
    Layout = "~/Views/Shared/_LayoutCloudPymeSesion.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/StyleViewGuias.css" />
    <style>
    </style>
</head>
<body>
    <h1 id="titulo">Tramites para crear una <span>pyme</span> de Transporte</h1>
    <div class="info">
        <h2><span>&bull;</span>Registro Único Tributario (RUT)</h2>
        <div class="parrafos" style="align-items:center">
            <p>
                Es el primer paso para cualquier empresa en Colombia. El RUT tiene como objetivo identificar a los contribuyentes y facilitar el cumplimiento de sus
                obligaciones tributarias. Es necesario para realizar trámites relacionados con impuestos, presentar declaraciones, obtener licencias comerciales, realizar
                transacciones con entidades estatales y participar en actividades económicas en Colombia.
            </p>
            <p>
                El RUT está compuesto por un número de identificación único asignado a cada contribuyente.
                Para las personas naturales, generalmente corresponde al número de identificación personal (como el número de cédula de ciudadanía).
                Para las personas jurídicas, se asigna un número de identificación propio.
            </p>
        </div>
        <a href="https://www.tributi.com/blog/pasos-para-tramitar-el-rut-por-internet" target="_blank">Aquí tendrás la información necesaria para sacar tu RUT</a>
    </div>
    <hr />
    <div class="info">
        <h2><span>&bull;</span>Seguro Obligatorio de Accidentes de Tránsito (SOAT)</h2>
        <div class="parrafos" style="align-items:center">
            <p>
                Adquiere el SOAT, que es un seguro obligatorio para los vehículos destinados al transporte de personas o mercancías en vías públicas.
            </p>
        </div>
        <a href="https://www.misoatvirtual.com.co/" target="_blank">Aquí puedes adquirir el SOAT</a>
    </div>
    <hr />
    <div class="info">
        <h2><span>&bull;</span>Licencia de Transporte</h2>
        <div class="parrafos" style="align-items:center">
            <p>
                Para operar legalmente en el sector del transporte, debes obtener una licencia de transporte emitida por el Ministerio de Transporte de Colombia.
                Esta licencia puede variar según el tipo de transporte que desees realizar, como transporte de carga o transporte de pasajeros.
            </p>
        </div>
        <a href="https://www.mintransporte.gov.co/preguntas-frecuentes/98/transito--licencias-de-conduccion/" target="_blank">Aquí puedes obtener la licencia</a>
    </div>
    <hr />
    <div class="info">
        <h2><span>&bull;</span>Licencia de Funcionamiento</h2>
        <div class="parrafos" style="align-items:center">
            <p>Obtener la licencia de funcionamiento requerida por el municipio donde se ubique tu negocio, autorizando la apertura y operación de tu empresa.</p>
        </div>
        <a href="https://linkeatuabogado.com/cuales-son-los-pasos-para-obtener-la-licencia-de-funcionamiento/" target="_blank">Aquí puedes obtener tu licencia</a>
    </div>
</body>
</html>
