

@{
    ViewBag.Title = "Alimentos ";
    Layout = "~/Views/Shared/_LayoutCloudPymeSesion.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/StyleViewGuias.css" />
    <style>
    </style>
</head>
<body>
    <h1 id="titulo">Tramites para crear una <span>pyme</span> de Alimentos</h1>
    <div class="info">
        <h2><span>&bull;</span>Registro Único Tributario (RUT)</h2>
        <div class="parrafos" style="align-items:center">
            <p>
                Es el primer paso para cualquier empresa en Colombia. El RUT tiene como objetivo identificar a los contribuyentes y facilitar el cumplimiento de sus
                obligaciones tributarias. Es necesario para realizar trámites relacionados con impuestos, presentar declaraciones, obtener licencias comerciales, realizar
                transacciones con entidades estatales y participar en actividades económicas en Colombia.
            </p>
            <p>
                El RUT está compuesto por un número de identificación único asignado a cada contribuyente.
                Para las personas naturales, generalmente corresponde al número de identificación personal (como el número de cédula de ciudadanía).
                Para las personas jurídicas, se asigna un número de identificación propio.
            </p>
        </div>
        <a href="https://www.tributi.com/blog/pasos-para-tramitar-el-rut-por-internet" target="_blank">Aquí tendrás la información necesaria para sacar tu RUT</a>
    </div>
    <hr />
    <div class="info">
        <h2><span>&bull;</span>Registro Sanitario</h2>
        <div class="parrafos" style="align-items:center">
            <p>
                Para asegurar la calidad e inocuidad de los alimentos que producirás y comercializarás, es necesario obtener el Registro Sanitario 
                ante el Instituto Nacional de Vigilancia de Medicamentos y Alimentos (INVIMA). El Registro Sanitario certifica que tu empresa cumple con los requisitos
                sanitarios establecidos para la producción y distribución de alimentos.

            </p>
        </div>
        <a href="https://www.invima.gov.co/tramite-para-registro-sanitario-de-alimentos-esto-es-lo-que-deben-saber" target="_blank">Aquí puedes obtener el registro</a>
    </div>
    <hr />
    <div class="info">
        <h2><span>&bull;</span>Certificado manipulación de alimentos</h2>
        <div class="parrafos" style="align-items:center">
            <p>
                El certificado de manipulación de alimentos es un documento que acredita que una persona ha recibido la formación y capacitación necesaria en higiene y manipulación de alimentos. 
                Este certificado es requerido en muchos países y jurisdicciones para aquellos que trabajan en
                la industria de alimentos y se encargan de la preparación, manipulación y servicio de alimentos.
            </p>
            <p>
                El objetivo del certificado de manipulación de alimentos es garantizar que las personas que trabajan en el sector alimentario tengan los conocimientos necesarios para garantizar
                la seguridad alimentaria y prevenir enfermedades transmitidas por alimentos. Al obtener este certificado, se demuestra que se han adquirido competencias en áreas como la higiene personal,
                manipulación adecuada de alimentos, control de temperaturas, almacenamiento seguro, limpieza y desinfección, entre otros aspectos relevantes.
            </p>
        </div>
        <a href="https://www.colcertificados.com/como-sacar-certificado-de-manipulacion-de-alimentos-en-colombia/" target="_blank">Aquí puedes obtener tu certificado</a>
    </div>
    <hr />
    <div class="info">
        <h2><span>&bull;</span>Licencia de Funcionamiento</h2>
        <div class="parrafos" style="align-items:center">
            <p>Obtener la licencia de funcionamiento requerida por el municipio donde se ubique tu negocio, autorizando la apertura y operación de tu empresa.</p>
        </div>
        <a href="https://linkeatuabogado.com/cuales-son-los-pasos-para-obtener-la-licencia-de-funcionamiento/" target="_blank">Aquí puedes obtener tu licencia</a>
    </div>
</body>
</html>

