
@{
    ViewBag.Title = "Comercio ";
    Layout = "~/Views/Shared/_LayoutCloudPymeSesion.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/StyleViewGuias.css" />
    <style>
        #titulo {
            text-align: center;
            margin-top: 20px;
            font-size: 36px;
        }
    </style>
</head>
<body>
    <h1 id="titulo">Tramites para crear una <span>pyme</span> de Comercio</h1>
    <div class="info">
        <h2><span>&bull;</span>Registro Único Tributario (RUT)</h2>
        <div class="parrafos" style="align-items:center">
            <p>
                Es el primer paso para cualquier empresa en Colombia. El RUT tiene como objetivo identificar a los contribuyentes y facilitar el cumplimiento de sus
                obligaciones tributarias. Es necesario para realizar trámites relacionados con impuestos, presentar declaraciones, obtener licencias comerciales, realizar
                transacciones con entidades estatales y participar en actividades económicas en Colombia.
            </p>
            <p>
                El RUT está compuesto por un número de identificación único asignado a cada contribuyente.
                Para las personas naturales, generalmente corresponde al número de identificación personal (como el número de cédula de ciudadanía).
                Para las personas jurídicas, se asigna un número de identificación propio.
            </p>
        </div>
        <a href="https://www.tributi.com/blog/pasos-para-tramitar-el-rut-por-internet" target="_blank">Aquí tendrás la información necesaria para sacar tu RUT</a>
    </div>
    <hr />
    <div class="info">
        <h2><span>&bull;</span>Registro Mercantil</h2>
        <div class="parrafos" style="align-items:center">
            <p>
                Debes inscribir tu empresa en la Cámara de Comercio correspondiente a la ciudad donde se establecerá el negocio.
                El Registro Mercantil es un registro público donde se inscriben las empresas y comerciantes individuales para obtener su personería jurídica
                y cumplir con las obligaciones legales relacionadas con su actividad comercial.
                Su función principal es llevar un registro actualizado de la información de las empresas y garantizar la publicidad y transparencia de los actos
                y contratos mercantiles.
            </p>
            <p>
                El Registro Mercantil es administrado por las Cámaras de Comercio en Colombia. Al registrar una empresa en el Registro Mercantil,
                se le otorga la calidad de comerciante y se le asigna un Número de Identificación Tributaria (NIT),
                que es necesario para realizar trámites fiscales y comerciales.
            </p>
        </div>
        <a href="https://www.camaramedellin.com.co/servicios-registrales/mis-registros/registro-mercantil" target="_blank">Aquí tienes el link de la cámara de comercio</a>
    </div>
    <hr />
    <div class="info">
        <h2><span>&bull;</span>Registro de Empleador</h2>
        <div class="parrafos" style="align-items:center">
            <p>
                Si planeas contratar empleados, debes registrarte como empleador ante la Unidad de Registro de Aportes y Afiliaciones
                (U.R.A.A.) de la Administradora de Fondos de Pensiones (AFP) o ante la entidad administradora de Riesgos Laborales (ARL).
            </p>
        </div>
        <a href="https://www.mintrabajo.gov.co/atencion-al-ciudadano/transparencia/tramites-registrados-en-el-sistema-unico-de-informacion-de-tramites-suit" target="_blank">Aquí puedes obtener el registro</a>
    </div>
    <hr />
    <div class="info">
        <h2><span>&bull;</span>Licencia de Funcionamiento</h2>
        <div class="parrafos" style="align-items:center">
            <p>Obtener la licencia de funcionamiento requerida por el municipio donde se ubique tu negocio, autorizando la apertura y operación de tu empresa.</p>
        </div>
        <a href="https://linkeatuabogado.com/cuales-son-los-pasos-para-obtener-la-licencia-de-funcionamiento/" target="_blank">Aquí puedes obtener tu licencia</a>
    </div>
</body>
</html>

