@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CLOUDPYME</h1>
    <p class="lead">Cloud Pyme es una plataforma encargada de dar guia a los usuarios para la creacion de algunos tipos de pymes, brindando así la informacion puntual de estas. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Iniciar Sesión</h2>
        <table>
        <tr>
            <td>Ya tienes un usuario creado?</td>
        </tr>
        <tr>
            <td class="btn btn-default" style="background-color: #1FACB6; color: #FFFFFF;"><a href="@Url.Action("IniciarSesion","Home")">Inicia sesión &lArr;</a></td>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Registrar usuario</h2>
        <table>
        <tr><td>Aun no te has registrado?</td></tr>
        <tr>
            <td class="btn btn-default" style="background-color: #1FACB6; color: #ffffff"><a href="@Url.Action("Registrar","Home")">Registrate aquí &lArr;</a></td>
        </tr>
        </table>

    </div>
</div>