@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutCloudPyme.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
    <script src="~/Scripts/sweetalert2.all.js"></script>
</head>
<div class="jumbotron">
    <h1>CLOUDPYME</h1>
    <p class="lead">Cloud Pyme es una plataforma encargada de dar guia a los usuarios para la creacion de algunos tipos de pymes, brindando así la informacion puntual de estas. </p>
    <p><a href="@Url.Action("Index","Home")" class="btn btn-primary btn-lg" style="background-color: #0db55d ; border-bottom-color: white; ">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Iniciar Sesión</h2>
        <table>
            <tr>
                <a href="@Url.Action("InicioDeSesion","Home")" class="btn btn-primary btn-lg" style="background-color: #0db55d ; border-bottom-color: white;">Iniciar sesión &raquo;</a>
        </table>
    </div>
    <div class="col-md-4">
        <h2>No tienes cuenta?</h2>
        <table>
            <tr>
                <td><a href="@Url.Action("Registrar","Home")" class="btn btn-primary btn-lg" style="background-color: #0db55d; border-bottom-color: white; ">Registrate aquí &raquo;</a></td>
            </tr>
        </table>

    </div>
    <button onclick="Swal.fire('¡Hola mundo!')">Haz clic aquí</button>
    
</div>