
@{
    ViewBag.Title = "Inicio de Sesion ";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="~/Content/StyleView2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/sweetalert2.all.js"></script>
    <style>
        label {
            display: inline-flex;
            align-items: center;
        }

            label i {
                display: inline-flex;
                font-size: 25px;
                margin-right: 25px;
            }
    </style>
  

        @if (TempData["AlertMessage"] != null)
        {
            <script>

                Swal.fire({
                    "title": 'No se encontro el usuario',
                    "icon": 'error'
                });

            </script>
    }


</head>
<body>

    <div class="container">
        <div class="left">

        </div>
        <div class="right">
            @using (Html.BeginForm("VerificarExistencia", "Home", FormMethod.Post))
            {
                <h1 class="title">| CloudPyme</h1>
                <label>
                    <i class="fa-solid fa-user" style="color: #f6f0e9;"></i>
                    <input placeholder="Correo electrónico" type="text" value="" name="email" autocomplete="off" style="width:300px"  required/>
                </label>
                <label>
                    <i class="fa-solid fa-lock" style="color: #f6f0e9;"></i>
                    <input placeholder="Contraseña" type="password" name="contraseña" value="" autocomplete="off" minlength="6" maxlength="15" style="width:300px" required />
                </label>
                <input type="submit" name="Iniciar sesión" value="Entrar" />   
                <br/>
               
                
                <a href="@Url.Action("Registrar","Home")">No tienes usuario? </a>
            }
        </div>
    </div>
</body>
</html>
