
@{
    ViewBag.Title = "Iniciar sesion";
}


<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <div>
        <h3>INICIAR SESIÓN</h3>


        @using (Html.BeginForm("VerificarExistencia", "Home", FormMethod.Post))
        {
            <form action="Usuario/Usuario" method="post">
                <table>
                    <tr>
                        <td><label>Email:</label></td>
                        <td><input type="text" name="email" autocomplete="off" value="" /></td>
                    </tr>
                    <tr>
                        <td><label>Contraseña: </label></td>
                        <td><input type="password" name="contraseña"  autocomplete="off" style="width: 300px;" required /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="Iniciar Sesión" value="Iniciar Sesión" /></td>
                    </tr>


                </table>
            </form>
        }

    </div>
</body>
</html>

