
@{
    ViewBag.Title = "Link comercio";
    Layout = "~/Views/Shared/_LayoutPagina.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <h3>Aquí puedes generar tu cámara de comercio</h3>
    <table><tr><td><a href="https://virtuales.camaramedellin.com.co/CertificadosElectronicos/#!/dashboard" target="_blank" />Ingresa aquí</td></tr></table>

</body>
</html>

