@model ProyectoCloudPyme.Models.Usuario
@{
    ViewBag.Title = "Pagina principal";
}

<h2> </h2>
<html>
<head>
    <title>Bienvenido @Model.Nombre</title>
    <link rel="stylesheet" href="~/Content/Estilos.css">
</head>
<body>
    <div>
        <h3>Tus pymes</h3>
        @using (Html.BeginForm("CrearPyme", "Home", FormMethod.Post))
        {
            <form>
            <table>
                <tr>
                    <td><label>¿Quieres crear una pyme?</label></td>
                    <td><input type="submit" name="Crear" value="CrearPyme"></td>
                </tr>
            </table>
            </form>
        }
    </div>
</body>
</html>