@{
    ViewBag.Title = "Registro";
}
<html>
<head>
    <title>Registrar Usuario</title>
    <link rel="stylesheet" href="~/Content/style.css" />

</head>
<body>
    <div>
        <h3>REGISTRAR USUARIO</h3>


        @using (Html.BeginForm("capturardatosRegistro", "Home", FormMethod.Post))
        {
            <form action="Usuario/Usuario" method="post">
                <table>
                    <tr>
                        <td><label>Identificación</label></td>
                        <td><input type="text" name="id" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" autocomplete="off" value="" /></td>
                    </tr>
                    <tr>
                        <td><label>Nombre </label></td>
                        <td><input type="text" name="nombre" pattern="[a-zA-Z.,:;()¿?¡! ñ]+" autocomplete="off" required /></td>
                    </tr>
                    <tr>
                        <td><label>Primer Apellido</label></td>
                        <td><input type="text" name="apellido_1" pattern="[a-zA-Z.,:;()¿?¡!ñ ]+" autocomplete="off" required /></td>
                    </tr>
                    <tr>
                        <td><label>Segundo Apellido</label></td>
                        <td><input type="text" name="apellido_2" pattern="[a-zA-Z.,:;()¿?¡!ñ ]+" autocomplete="off" required /></td>
                    </tr>
                    <tr>
                        <td><label>Fecha nacimiento</label></td>
                        <td><input type="date" name="fh_nacimiento" value="" style=" width: 300px;" /></td>
                    </tr>
                    <tr>
                        <td><label>Email</label></td>
                        <td><input type="text" name="email" value="" autocomplete="off" required /></td>
                    </tr>
                    <tr>
                        <td><label>Contraseña </label></td>
                        <td><input type="text" name="contraseña" value="" autocomplete="off" minlength="6" maxlength="15" required /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="Guardar" value="Guardar" style=" width: 150px;" /></td>

                    </tr>
                </table>
            </form>
        }
    </div>
</body>
</html>