@model ProyectoCloudPyme.Models.Usuario
@{
    ViewBag.Title = "VisualizarInformacion";
    Layout = "~/Views/Shared/_LayoutCloudPymeSesion.cshtml";
}

<html>
<head>
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="~/Content/StyleViewRegistro.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    </style>

</head>
<body>
    <div class="container" id="formulario">
        @using (Html.BeginForm("PaginaUsuario", "Home", FormMethod.Post))
        {
            <h1>| Cambio exitoso!</h1>
            <table style="border-collapse: separate; border-spacing: 20px;">
                <tr>
                    <td><i class="fa-solid fa-person-walking" style="color: #0F5F54;"></i></td>
                    <td><label style="color: #000000;"> Tu nombre actual es @Model.Nombre    </label></td>

                </tr>
                <tr>
                    <td style="color: #0F5F54; font-size:25px">&rArr;</td>
                    <td><label style="color: #000000;"> Tu primer apellido actual es @Model.Apellido_1 </label></td>
                </tr>
                <tr>
                    <td style="color: #0F5F54; font-size: 25px">&rArr;</td>
                    <td><label style="color: #000000;"> Tu segundo apellido actual es @Model.Apellido_2       </label></td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-cake-candles" style="color: #0F5F54;"></i></td>
                    <td><label style="color: #000000;"> Tu fecha de nacimiento actual es @Model.Fhnacimiento.ToShortDateString()</label></td>
</tr>

            </table>
            <div style="text-align: center;">
                <input type="submit" value="Volver al inicio">
            </div>
        }
    </div>



</body>
</html>


