title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}
/* Estilos para los divs */
div {
    border: 1px solid white;
    border-radius: 6px;
    padding: 1px;
}


/* Estilos para el formulario */

form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

/* Estilos para los campos de texto */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el botón */
input[type="submit"] {
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #008CBA;
    }


/* Estilos para los encabezados */
h3 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}


td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
